<%= stylesheet_link_tag "devise", "data-turbo-track": "reload" %>
<%= render 'partials/alerts'%>
<!--Edit-->
<div class="container" >
<!--Card & Carousel-->
  <div class="card bg" style="max-width: 100%; margin-top:25px;">
    <div class="row g-0">
      <div class="col-md-9">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "carousel/mountain.jpg", class: "d-block w-100"%>
      </div>
      <div class="carousel-item">
        <%= image_tag "carousel/horses.jpg", class: "d-block w-100"%>
      </div>
      <div class="carousel-item">
        <%= image_tag "carousel/house.jpg", class: "d-block w-100"%>
      </div>
    </div>
  </div>
      </div>
      <!--Form-->
      <div class="col-md-3" id="form_card_sign">
        <div class="card-body">
        <!--Title-->
        <h2 class="form_input_title">Edit <%= resource_name.to_s.humanize %></h2>
       <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render 'partials/alerts'%>
        <!--Email-->
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form_input_registration"  %>
        </div>
        <!--Name-->
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, class:"form_input_registration"   %>
        </div>
        <!--Password-->
        <div class="field">
          <%= f.label :password %>
          <i class="edit_user_info">(Leave blank if password is not changed)
           <% if @minimum_password_length %>
           <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
          </i>
          <%= f.password_field :password, autocomplete: "new-password", class:"form_input_registration" %> 
        </div>
        <!--Confirm Password-->
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <i class="edit_user_info">(Required to change password)
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form_input_registration" %>
          </i><br />
        </div>
        <!--Current Password-->
        <div class="field">
         <%= f.label :current_password %><br />
         <i class="edit_user_info">(Type your password to confirm changes)
           <%= f.password_field :current_password, autocomplete: "current-password" %>
         </i><br />
        </div>
          <!--Submit Link-->
        <div class="form_link_div">
        <div class="actions">
          <%= f.submit "Update", class:"form_input_button" %>
        </div>
        <% end %>
          <!--Login Link-->
        <%= render "devise/shared/links"%>
      </div>
    </div>
  </div>
  <div>
   <% if current_user %>
    <h4>Delete Your Account (<%= current_user.email %>) </h4>
   <% end %>
    <p>Unhappy? <%= button_to "Delete my Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class:"delete_button", method: :delete %></p>
    <%= link_to "Back", :back %>
  <div>
</div>
