<!DOCTYPE html>
<html>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  <!--NavBar-->
  <nav class="navbar navbar-expand-lg navbar" class='sticky-top'id="navigation_bar">
    <div class="container-fluid" >
      <a class="navbar-brand" href="#">
        <h2 class="site_title"><i class="fa fa-compass"></i> Explore Iceland </h2>
      </a>
      <div class="navbar-nav">
       <%= link_to "Home", "/", id: "home" %>
      </div>
      <div class="navbar-nav">
       <%= link_to "Map", "/map", id: "map" %>
      </div>
      <button id="toggle_icon" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-caret-down" id="dropdown_icon"></i></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!--Urban-->
          <div class="btn-group">
            <button type="button" class="btn btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="cities">
              Urban
            </button>
            <ul class="dropdown-menu">
             <li class='dropdown_links'>
              <%= link_to "Reykjavik", "/locations/1", class: "dropdown-item", class: "account_nav_links" %>
             </li> 
            </ul>
          </div>
            <!--Bodies of Water & Rivers-->
          <div class="btn-group">
            <button type="button" class="btn btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="bowr">
              Lakes & Rivers
            </button>
            <ul class="dropdown-menu">
              <li class='dropdown_links'>
                <%= link_to "The Blue Lagoon", "/locations/", class: "dropdown-item", class: "account_nav_links" %>
             </li> 
              <li class='dropdown_links'>
                <%= link_to "Reykjadalur", "/locations/", class: "dropdown-item", class: "account_nav_links" %>
             </li> 
              <li class='dropdown_links'>
                <%= link_to "Jökulsárlón", "/locations/", class: "dropdown-item", class: "account_nav_links" %>
             </li> 
            </ul>
          </div>
            <!--Waterfalls-->
          <div class="btn-group">
            <button type="button" class="btn btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="waterfalls">
              Waterfalls
            </button>
            <ul class="dropdown-menu">
              <li class='dropdown_links'>
                <%= link_to "Gullfoss", "/locations/", class: "dropdown-item", class: "account_nav_links" %>
             </li>
              <li class='dropdown_links'>
                <%= link_to "Seljalandsfoss", "/locations/", class: "dropdown-item", class: "account_nav_links" %>
             </li>
              <li class='dropdown_links'>
                <%= link_to "Skógafoss", "/locations/", class: "dropdown-item", class: "account_nav_links" %>
             </li>
              <li class='dropdown_links'>
                <%= link_to "Dynjandi", "/locations/", class: "dropdown-item", class: "account_nav_links" %>
             </li>
              <li class='dropdown_links'>
                <%= link_to "Kirkjufellsfoss", "/locations/", class: "dropdown-item", class: "account_nav_links" %>
             </li>
              <li class='dropdown_links'>
                <%= link_to "Dettifoss", "/locations/", class: "dropdown-item", class: "account_nav_links" %>
             </li>
            </ul>
          </div>
            <!--Beaches-->
          <div class="btn-group">
            <button type="button" class="btn btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="beaches">
              Beaches
            </button>
            <ul class="dropdown-menu">
              <li class='dropdown_links'>
                <%= link_to "Reynisfjara", "/locations/", class: "dropdown-item", class: "account_nav_links" %>
             </li>
            </ul>
          </div>
            <!--Canyons-->
          <div class="btn-group">
            <button type="button" class="btn btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="canyons">
              Canyons
            </button>
            <ul class="dropdown-menu">
              <li class='dropdown_links'>
                <%= link_to "Stuðlagil", "/locations/", class: "dropdown-item", class: "account_nav_links" %>
             </li>
            </ul>
          </div>
            <!--Account-->
          <div class="btn-group">
            <%= render 'user/session_manager_navbar' %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</html>