<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
</head>
<body>
  <div class="card bg-dark text-white">
   <%= image_tag "home/image_1.jpg", class:"carousel_image"%>
  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>
</body>


  <!--asd
  
<section>
    <%= image_tag "home/image_1.jpg", class:"bottom", class:"carousel_image"%>
    <%= image_tag "home/image_2.jpg", class:"top", class:"carousel_image"%>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000"> 
      <%= image_tag "home/image_1.jpg", class:"carousel_image"%>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
     <%= image_tag "home/image_2.jpg", class:"carousel_image"%>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <%= image_tag "home/image_3.jpg", class:"carousel_image"%>
    </div>
  </div>
</div>
</section>

  
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000"> 
      <%= image_tag "home/image_1.jpg", class:"carousel_image"%>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
     <%= image_tag "home/image_2.jpg", class:"carousel_image"%>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <%= image_tag "home/image_3.jpg", class:"carousel_image"%>
    </div>
  </div>
</div>-->
</html>