<p style="color: green"><%= notice %></p>

<%= render @location %>

<div>
  <p>
    <strong> Comments Section </strong>
    <%= render @location.comments.where(parent_id: nil).includes(:user).order(id: :desc)%>
    <%= render partial: "comments/form", locals: {location: @location, parent: nil} %>
  </p>
</div>

<div>
  <%= link_to "Edit this location", edit_location_path(@location) %> |
  <%= link_to "Back to locations", locations_path %>

  <%= button_to "Destroy this location", @location, method: :delete %>
</div>
