<!DOCTYPE html>
<html>
  <head>
    <title>IcelandApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@200&family=Satisfy&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "navbar_footer", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
  <!--NavBar-->
    <header>
      <%= render 'partials/navbar'%>
      <%= render 'partials/alerts'%>
    </header>
    <main>
     <%= yield %>
    </main>
  <!--Footer-->
    <footer>
      <%= render 'partials/footer'%>
    </footer>
  </body>
  
</html>
